<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/novoaluno.css">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/">
                <img src="../static/img/71U-nox+GkL._SX425_.jpg" alt="">
            </a>
        </div>
        <h1>Novo Aluno/Atleta</h1>
        <form action="/salvar" method = POST>
            <div class="label_nome">
                <label for="">Nome :</label>
            </div>
                <input type="text" name="nome"> <br/>
            <div class="label_nome">
                <label for="">Sobrenome :</label>       
             </div>
                <input type="text" name = sobrenome> <br/>
            <div class="label_nome">
                <label for="">Telefone :</label>
            </div>        
                <input type="text" name = telefone> <br/>
            <hr/>
            <input type="submit" value="Salvar" class="btm">
        </form>
    </body>
</html>